.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.main_contents {
  padding: 2rem;
  margin:50px 0;
}
.inputarea {
  display:flex;
  gap:15px;
  flex-wrap:wrap;
  justify-content:center;
}
.heading {
  margin:10px 0 20px 0;
}